/* Coolors Exported Palette - coolors.co/b4a6ab-c4e7d4-615055-e899dc-ffd3e7 */

/* HSL */
$color1: hsla(339%, 9%, 68%, 1);
$color2: hsla(147%, 42%, 84%, 1);
$color3: hsla(342%, 10%, 35%, 1);
$color4: hsla(309%, 63%, 75%, 1);
$color5: hsla(333%, 100%, 91%, 1);

/* RGB */
$color1: rgba(180, 166, 171, 1);
$color2: rgba(196, 231, 212, 1);
$color3: rgba(97, 80, 85, 1);
$color4: rgba(232, 153, 220, 1);
$color5: rgba(255, 211, 231, 1);