/* FONTS
font-family: 'Montserrat', sans-serif;
font-family: 'Pinyon Script', cursive; */
html{
    background-image: url('images/rosesgry.png');
    background-color: rgba(255, 211, 231, 1);
    background-blend-mode: luminosity;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#head-shot{
    float: left;
    margin-right: 50px;
    margin-left: 30%;
    box-shadow: 0 4px 8px 0 #4F4F60, 0 6px 20px 0 #4F4F60;
    border-radius: 2%;
}


/* #blah {
    float: left;
    margin-right: 10px;
    clear:both;
}
#blah2 {
    margin-left: 0px;
    overflow:auto;
    display:block;
    clear: none;
} */


#a {
    text-align: right;
}

#names h1 {
     margin: 2px;
     font-size: 7.854em;
     font-family: 'Pinyon Script', cursive;
     font-weight: bolder;
     color: #4F4F60;
 }

 h2 {
     font-size: 3.316em;
     color: #4F4F60;
     font-family: 'Montserrat', sans-serif;

 }

 span {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.866em;
    color: #4F4F60 ;
 }

#lastname {
     padding-left: 5%;
 }

li {
    display: inline;
    
    
}

a {
    text-decoration: none;
    color: #4F4F60;
    font-size: 2.488em;
    font-weight: bold;
    margin-left:30px;
    margin-right:30px;    
       
}

a:visited {
    color: #E899DC;
}


/* mouse over link */

a:hover {
    color: #AEE8C8;
}


nav {
    text-align: center;
    border-spacing: 5px;
    margin-top: 50px;
}

hr {
    border: 4px double #4F4F60;
    border-radius: 5px;
  }






.gen_pic img {
    width: auto;
    height: 400px;
    border-radius: 10px;
    clear: none;

}

#education {
    text-align: center;
}

#education figure {
    display: inline-block;
    clear: none;
    
}

#header2 {
    text-align: center;
}

#childhood figure img{
    display: inline-block;
    clear: none
}

footer {
    clear: both;
}



