/* FONTS
font-family: 'Montserrat', sans-serif;
font-family: 'Pinyon Script', cursive; */
html{
    background-image: url('images/rosesgry.png');
    background-color: rgba(255, 211, 231, 1);
    background-blend-mode: luminosity;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#head-shot{
    float: left;
    margin-right: 10px;
    margin-left: 10%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10%;
}

